# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# ENVIRONMENT
# =========================
.env
*.env
venv/

# =========================
# DATABASE
# =========================
*.db

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
